Repository AltFl0w/NextERP, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @khushi8112, @diptanilsaha, @rohitwaghchaure, @mihir-kandoi, @akhilnarang

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

<<<<<<< HEAD
erpnext/accounts/               @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @khushi8112 @deepeshgarg007
erpnext/regional                @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @deepeshgarg007 @ruthra-kumar
erpnext/support/                @deepeshgarg007
pos*                            
=======
erpnext/accounts/               @ruthra-kumar
erpnext/assets/                 @khushi8112
erpnext/regional                @ruthra-kumar
erpnext/selling                 @ruthra-kumar
erpnext/support/                @ruthra-kumar
pos*                            @diptanilsaha
>>>>>>> b9b3302b69 (Update CODEOWNERS)

erpnext/buying/                 @rohitwaghchaure @mihir-kandoi
erpnext/maintenance/            @rohitwaghchaure
erpnext/manufacturing/          @rohitwaghchaure @mihir-kandoi
erpnext/quality_management/     @rohitwaghchaure
erpnext/stock/                  @rohitwaghchaure @mihir-kandoi
erpnext/subcontracting          @mihir-kandoi

<<<<<<< HEAD
erpnext/controllers/            @deepeshgarg007 @rohitwaghchaure
erpnext/patches/                @deepeshgarg007 
=======
erpnext/controllers/            @ruthra-kumar @rohitwaghchaure @mihir-kandoi
erpnext/patches/                @ruthra-kumar
>>>>>>> b9b3302b69 (Update CODEOWNERS)

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang

fix: use query builder instead of raw SQL in get_material_requests_based_on_supplier
  erpnext/stock/doctype/material_request/material_request.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: use query builder instead of raw SQL in get_loyalty_details
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
Owners: @ruthra-kumar

fix: use query builder instead of raw SQL in unset_existing_data
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
Owners: @ruthra-kumar

fix: use query builder instead of raw SQL in get_rfq_containing_supplier
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: use query builder instead of raw SQL in get_blanket_orders
  erpnext/controllers/queries.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi

fix: sanitize column name for inventory_dimensions in get_stock_balance
  erpnext/stock/utils.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: handle empty loyalty point details
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
Owners: @ruthra-kumar

fix: use query builder instead of raw SQL in get_timesheet_detail_rate
  erpnext/projects/doctype/timesheet/timesheet.py
Owners: none

chore: resolve conflicts
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.json
  erpnext/patches.txt
Owners: @ruthra-kumar

fix: include missing cint import
  erpnext/controllers/queries.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi

Merge pull request #49185 from aerele/mop-sales-register
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Owners: @ruthra-kumar

fix(quotation): update currency on duplicate
  erpnext/public/js/controllers/transaction.js
Owners: none

fix(stock): don't override t_warehouse if no rules found
  erpnext/stock/doctype/putaway_rule/putaway_rule.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: company issue in setup wizard
  erpnext/setup/setup_wizard/operations/install_fixtures.py
Owners: none

chore(release): Bumped to Version 14.89.2
  erpnext/__init__.py
Owners: none

chore(release): Bumped to Version 15.76.0
  erpnext/__init__.py
Owners: none

fix: set missing due date in Purchase Invoice and POS Invoice (#49232)
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Owners: @diptanilsaha, @ruthra-kumar

fix: set missing due date in Purchase Invoice and POS Invoice (#49232)
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
Owners: @diptanilsaha, @ruthra-kumar

Merge pull request #49183 from aerele/fix/mr-status-from-wo
  erpnext/controllers/status_updater.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
  erpnext/stock/doctype/material_request/material_request_list.js
  erpnext/stock/doctype/material_request/test_material_request.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi

fix: child item picker picking all items when creating PI from PR
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/buying/doctype/supplier_quotation/supplier_quotation.py
  erpnext/stock/doctype/purchase_receipt/purchase_receipt.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: hide is_cumulative for apply_on is set to Transaction
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/accounts/doctype/promotional_scheme/promotional_scheme.json
Owners: @ruthra-kumar

fix: handle all searchfields in items
  erpnext/stock/report/stock_balance/stock_balance.js
  erpnext/stock/report/stock_ledger/stock_ledger.js
Owners: @rohitwaghchaure, @mihir-kandoi

fix: Serial Nos popup only appears 1 time
  erpnext/public/js/controllers/transaction.js
Owners: none

chore: fix conflicts
  erpnext/public/js/controllers/transaction.js
Owners: none

fix(Supplier): add make_method for Pricing Rule (#49282)
  erpnext/buying/doctype/supplier/supplier.js
Owners: @rohitwaghchaure, @mihir-kandoi

feat: show title in link field for Project DocType (#49265)
  erpnext/projects/doctype/project/project.json
Owners: none
