Repository AltFl0w/NextERP, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @khushi8112, @diptanilsaha, @rohitwaghchaure, @mihir-kandoi, @akhilnarang

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

<<<<<<< HEAD
erpnext/accounts/               @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @khushi8112 @deepeshgarg007
erpnext/regional                @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @deepeshgarg007 @ruthra-kumar
erpnext/support/                @deepeshgarg007
pos*                            
=======
erpnext/accounts/               @ruthra-kumar
erpnext/assets/                 @khushi8112
erpnext/regional                @ruthra-kumar
erpnext/selling                 @ruthra-kumar
erpnext/support/                @ruthra-kumar
pos*                            @diptanilsaha
>>>>>>> b9b3302b69 (Update CODEOWNERS)

erpnext/buying/                 @rohitwaghchaure @mihir-kandoi
erpnext/maintenance/            @rohitwaghchaure
erpnext/manufacturing/          @rohitwaghchaure @mihir-kandoi
erpnext/quality_management/     @rohitwaghchaure
erpnext/stock/                  @rohitwaghchaure @mihir-kandoi
erpnext/subcontracting          @mihir-kandoi

<<<<<<< HEAD
erpnext/controllers/            @deepeshgarg007 @rohitwaghchaure
erpnext/patches/                @deepeshgarg007 
=======
erpnext/controllers/            @ruthra-kumar @rohitwaghchaure @mihir-kandoi
erpnext/patches/                @ruthra-kumar
>>>>>>> b9b3302b69 (Update CODEOWNERS)

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang

chore: add default value for posting_time field in subcontracting receipt
  erpnext/subcontracting/doctype/subcontracting_receipt/subcontracting_receipt.json
Owners: @mihir-kandoi

fix: add validation for draft PR/PI in Asset
  erpnext/assets/doctype/asset/asset.py
Owners: @khushi8112

refactor: validate linked purchase docs before field usage
  erpnext/assets/doctype/asset/asset.py
Owners: @khushi8112

fix: current qty for batch in stock reco
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Owners: @rohitwaghchaure, @mihir-kandoi

chore: convert message to toast notification
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Owners: @rohitwaghchaure, @mihir-kandoi

chore: convert message to toast notification
  erpnext/manufacturing/doctype/bom_creator/bom_creator.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: current qty for batch in stock reco
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
Owners: @rohitwaghchaure, @mihir-kandoi

chore(release): Bumped to Version 15.75.1
  erpnext/__init__.py
Owners: none

chore: remove unused variable
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

fix(pos): include Product Bundle components in reserved qty to prevent overselling
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

chore: apply pre-commit formatting
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

fix(pos): populate packed_items table in POS Invoice
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

fix: remove unclear message related to availability of product bundle
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

fix(pos): use packed_items snapshot for bundle reservations
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

fix: product bundle child item quantity should be a positive number
  erpnext/selling/doctype/product_bundle/product_bundle.py
Owners: @ruthra-kumar

chore: improve code clarity per reviewer feedback
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
Owners: @diptanilsaha

fix: wrap inter-company order button labels in __() for translation (#49178)
  erpnext/buying/doctype/purchase_order/purchase_order.js
  erpnext/selling/doctype/sales_order/sales_order.js
Owners: @rohitwaghchaure, @mihir-kandoi, @ruthra-kumar

fix: additional cost not consider in valuation rate for Stock Entry transfer
  erpnext/controllers/stock_controller.py
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
  erpnext/stock/serial_batch_bundle.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi

chore: fix conflicts
  erpnext/stock/doctype/stock_entry/test_stock_entry.py
Owners: @rohitwaghchaure, @mihir-kandoi

chore: fix test case
  erpnext/stock/serial_batch_bundle.py
Owners: @rohitwaghchaure, @mihir-kandoi

Revert "fix: use checkout@v2 instead of v4"
  .github/workflows/release.yml
Owners: @deepeshgarg007

fix(asset): prevent translation function shadowing in make_journal_entry
  erpnext/assets/doctype/asset/asset.py
Owners: @khushi8112

fix: apply grand total to default payment mode in Sales and POS invoices
  erpnext/accounts/doctype/pos_invoice/pos_invoice.js
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/public/js/controllers/taxes_and_totals.js
  erpnext/selling/page/point_of_sale/pos_payment.js
Owners: @diptanilsaha, @ruthra-kumar

fix: add value adjustment amount in report for group by category filter
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.py
Owners: @ruthra-kumar

fix: add value adjustment amount in asset value
  erpnext/accounts/report/asset_depreciations_and_balances/asset_depreciations_and_balances.py
  erpnext/accounts/report/general_ledger/general_ledger.json
Owners: @ruthra-kumar

fix: add fieldname in accounting dimension filter
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.json
Owners: @ruthra-kumar

fix: fetch fieldname in accounting dimension filter
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
Owners: @ruthra-kumar

fix: add patch
  erpnext/patches.txt
  erpnext/patches/v15_0/update_fieldname_in_accounting_dimension_filter.py
Owners: @ruthra-kumar

fix: handle default dimension for all company
  erpnext/patches/v15_0/update_fieldname_in_accounting_dimension_filter.py
Owners: @ruthra-kumar

fix: handle default accounting dimension
  erpnext/accounts/doctype/accounting_dimension_filter/accounting_dimension_filter.py
  erpnext/patches/v15_0/update_fieldname_in_accounting_dimension_filter.py
Owners: @ruthra-kumar

fix: use query builder instead of raw SQL in get_material_requests_based_on_supplier
  erpnext/stock/doctype/material_request/material_request.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: use query builder instead of raw SQL in get_loyalty_details
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
Owners: @ruthra-kumar

fix: formatted string for disabled filter in get_income_account
  erpnext/controllers/queries.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi

fix: use query builder instead of raw SQL in get_blanket_orders
  erpnext/controllers/queries.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi

fix: use query builder instead of raw SQL in get_rfq_containing_supplier
  erpnext/buying/doctype/request_for_quotation/request_for_quotation.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: sanitize column name for inventory_dimensions in get_stock_balance
  erpnext/stock/utils.py
Owners: @rohitwaghchaure, @mihir-kandoi

fix: use query builder instead of raw SQL in unset_existing_data
  erpnext/accounts/doctype/chart_of_accounts_importer/chart_of_accounts_importer.py
Owners: @ruthra-kumar

fix: use query builder instead of raw SQL in get_timesheet_detail_rate
  erpnext/projects/doctype/timesheet/timesheet.py
Owners: none

fix: handle empty loyalty point details
  erpnext/accounts/doctype/loyalty_program/loyalty_program.py
Owners: @ruthra-kumar

fix: formatted string for disabled filter in get_income_account
  erpnext/controllers/queries.py
Owners: @ruthra-kumar, @rohitwaghchaure, @mihir-kandoi
